.comment-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-top: 0rem;
  text-align: left;
}
input,
textarea {
  outline: none;
  background-color: white;
  border: 1px solid grey;
  margin-top: 0.5rem;
  padding: 0.5em;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.input, .texarea:focus{
  border-color: var(--color-gatsby);
}
.submit-button {
  background-color: #FFA5BB;
  outline: 0;
  color: white;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: inherit;
  padding: 12px 28px;
  margin-top: 0.5rem;
}

.submit-button:hover{
  box-shadow: 0 0 5px rgba(0,0,0,0.24)
}
.comment__meta > h4 {
  color: #f78da7;
  margin-bottom: 3px;
  line-height: 1;
}

.text {
  color: grey;
  margin: 0px;
  word-break: break-all;
  
}

