.LoginForm {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    max-width: 400px;
    margin: 0 auto;
   
  }
  
  .LoginForm__input {
    outline: none;
    background-color:white;
    border:1px solid grey;
    font-size: inherit; 
  }
  
  .LoginForm__input,.TextArea:focus {
    border-color: var(--color-gatsby);
  }
  
  .LoginForm__button,
  .LoginForm__input {
    padding: 0.5em;
    font-size: inherit;
    margin-top: 0.5rem;
  }

  .LoginForm__button {
    outline:0;
    background-color: #FFA5BB;
    color: white;
    border:1px solid white;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-size: inherit;
    padding: 12px;
  }

.LoginForm__button:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.24)
  }

  .Text{
    color: grey;
    letter-spacing: tight;
  }

  .RegisterForm__button {
    outline:0;
    background-color: white;
    color: #FFA5BB;
    border:1px solid #FFA5BB;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-size: inherit;
    padding: 12px;
  }

  .RegisterForm__button:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.24)
  }
  .DeliveryForm {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    max-width: 400px;
    margin-top: 20px;
   
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.OrderForm {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  max-width: 400px;
 
}

