.just-comments.myTheme {
  --border-color: #grey;
    --primary-bg-color: white;
    --secondary-bg-color: white;
    --secondary-bg-color-lighter: white;
    --primary-color: white;
    --primary-color-lighter: white;
    --primary-color-light: white;
    --primary-text-color: grey;
    --secondary-text-color: grey;
    --outline-style: 1px black; 
    --outline-offset: 20px;
    --button-border-radius: 3px;
    --input-border-radius: 5px blue;
    --bubble-border-radius: 5px blue;
    --user-pic-border-radius: 50%;
    --font-heading1-size: 22px;
    --font-heading1-line-height: 20px;
    --font-heading2-size: 15px;
    --font-heading2-line-height: 10px;
    --font-button1-size: 20px;
    --font-button1-line-height: 10px;
    --font-button2-size: 15px;
    --font-button2-line-height: 10px;
    --font-button3-size: inherit;
    --font-button3-line-height: 18px;
    --font-text1-size: 18px;
    --font-text1-line-height: 24px;
    --font-text2-size: 15px;
    --font-text2-line-height: 20px;
    --font-text3-size: 13px;
    --font-text3-line-height: 18px;
    --primary-button-color: white;
    --primary-button-bg-color: #FFA5BB;
    --primary-button-hover-color: white;
    --primary-button-hover-bg-color: #FFA5BB;
    --primary-button-border: 2px solid var(--primary-button-bg-color);

}